body {
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e0046;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

button {
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000dff;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e03e00;
}

#anime-container {
    text-align: center;
    padding: 20px;
}

.anime-image {
    display: block;
    max-width: 80%; /* Adjusted to make the image bigger */
    height: auto;
    border-radius: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.anime-details {
    padding: 10px;
}

.trailer-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0080ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.trailer-link:hover {
    background-color: #0025e0;
}

#loading {
    font-size: 24px;
    font-weight: bold;
    color: #001aff99;
    animation: flicker 1.5s infinite;
    margin-top: 20px;
    text-shadow: 0 0 10px #00d5ff, 0 0 20px #0099ff, 0 0 30px #5a68d0, 0 0 40px #f4eeec, 0 0 50px #4967d0, 0 0 60px #5462fa, 0 0 70px #0040ff;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0;
    }
}
